name: Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: "0 9 * * 1"
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  analysis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: scorecard.sarif
          results_format: sarif
          publish_results: true
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: scorecard.sarif
